.App{
    display: flex;
    justify-content: center;
    text-align: center;   
    width: 100%;
    background-color: #161616;
    flex-grow: 1;
    min-height: 100vh;
    font-family: 'BioRhyne';   

}

.App h1{
    color: #ff0505;
    font-family: 'BioRhyne';   
    font-size: 100px;
    font-weight: normal;
}

.App h2{
  color: #ff0505;
  font-family: 'BioRhyne';   
  font-weight: normal;
}

.DareNight{
    width: 90%;
    font-family: 'BioRhyne';   
}

.header{
    color: #ff0505;
    font-family: 'BioRhyne';  
    padding: 0;
    border: none;
    background: none; 
    font-size: 100px;
}

.DareNight .underheader{
    color: #c4c4c4;
    font-family: 'BioRhyne';  
    padding: 0;
    border: none;
    background: none; 
    font-size: 50px;
    text-align: center;
    padding: 30px;
}


.scoreCounter{
    font-size: 40px;
    color: #ff0505;
}

.questionInfo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color:#c4c4c4;
}

.questionInfo button{
  color:#ff0505;
  background-color: #c4c4c4;
}

.questionDificulty{
    display: flex;
    width: 75px;
}

.mainQuestion{
    width: 200px;
}

.points{
    /* color: #ff0505; */
    width: 20px;
    font-size: 21px;
}

.checkbox{
    accent-color: #ff0505;
    height: 20px;
    width: 20px;
}

img {
    height: 300px;
}

.loginBox {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;
  }
  .loginTextBox {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .loginButton {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    color: #ff0505;
    background-color:#c4c4c4;

  }
  .googleLogIn {
    background-color: #4285f4;
  }
  .logIn div {
    margin-top: 7px;
  }

  .funtext{
    color: #c4c4c4;
  }

  .siteheader{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
    flex-direction: column;
    flex-grow: 0;
    color: #c4c4c4;
  }

  .error {
    color: red;
    font-size: 20px;
  }

  .loginBox input{
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    color: #ff0505;
    background-color:#c4c4c4;
  }