.App{
    display: flex;
    justify-content: center;
    text-align: center;   
    width: 100%;
}

.DareNight{
    width: 90%;
    font-family: 'Quicksand';   
}

.DareNightHeader{
    font-size: 60px;
    color: darkred;
}

.scoreCounter{
    font-size: 40px;
    color: red;
}

.questionInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.questionDificulty{
    display: flex;
    width: 75px;
}

.mainQuestion{
    width: 200px;
}

.points{
    color: rgb(255, 3, 3);
    width: 20px;
    font-size: 21px;
}

.checkbox{
    height: 20px;
    width: 20px;
}

img {
    height: 300px;
}